.combobox-list {
  position: relative;
}

.combobox .group {
  display: inline-flex;
  padding: 4px;
  cursor: pointer;
  width: 100%;
}

.combobox input,
.combobox button {
  background-color: white;
  color: black;
  box-sizing: border-box;
  height: 35px;
  padding: 0;
  margin: 0;
  vertical-align: bottom;
  border: 1px solid gray;
  position: relative;
  cursor: pointer;
  width: 100%;
}

.combobox input {
  border-right: none;
  outline: none;
  font-size: 18px;
  padding: 1px 10px;
  width: 100%;
}

.combobox button {
  width: 19px;
  border-left: none;
  outline: none;
  color: rgb(0 90 156);
}

.combobox button[aria-expanded="true"] svg {
  transform: rotate(180deg) translate(0, -3px);
}

ul[role="listbox"] {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 28px;
  list-style: none;
  background-color: white;
  display: none;
  box-sizing: border-box;
  border: 2px currentColor solid;
  max-height: 250px;
  width: 100%;
  overflow: scroll;
  overflow-x: hidden;
  font-size: 20px;
  cursor: pointer;
}

ul[role="listbox"] li[role="option"] {
  margin: 0;
  display: block;
  padding-left: 3px;
  padding-top: 2px;
  padding-bottom: 2px;
}

/* focus and hover styling */

.combobox .group.focus,
.combobox .group:hover {
  padding: 2px;
  border: 2px solid currentColor;
  border-radius: 4px;
  width: 100%;
}

.combobox .group.focus polygon,
.combobox .group:hover polygon {
  fill-opacity: 1;
}

.combobox .group.focus input,
.combobox .group.focus button,
.combobox .group input:hover,
.combobox .group button:hover {
  background-color: white;
}

[role="listbox"].focus [role="option"][aria-selected="true"],
[role="listbox"] [role="option"]:hover {
  background-color: white;
  padding-top: 0;
  padding-bottom: 0;
  border-top: 2px solid currentColor;
  border-bottom: 2px solid currentColor;
}
